<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav [opened]="isSidenavOpen" fxFlex="500px" fxHide.gt-sm>
        <mat-nav-list>
            <a *ngFor="let navigator of navigators" class="nav-link scroll-link" [href]="navigator.path"
                mat-list-item>{{ navigator.name }}</a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <main>
            <app-presentation></app-presentation>
            <app-about></app-about>
            <app-cservice></app-cservice>
            <app-skill></app-skill>
            <app-certificate></app-certificate>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>