div {
    /* gap: 1rem; */
    padding: 2rem 1rem;
    margin: 0 auto;
}

div>div {
    max-width: 90rem;
    gap: 1rem;
}

div>div>img {
    background-image: none;
    border-radius: var(--borderRadius);
    aspect-ratio: 1/1;
    height: 20rem;
}


div>div>section {
    gap: 1rem;
    width: 70%;
}

div>div>section>h4 {
    font-size: 2rem;
}

div>div>section>p {
    color: gray;
    font-size: 1.5rem;
}

div>div>section>.icon>a>i {
    color: gray;
    font-size: 50px;
}

div>div>section>.icon>a>i:hover {
    color: var(--primary)
}

@media (max-width: 45rem) {
div>div>section {
    width: 100%;
}
}