.grid_service {
    margin-top: 3rem;
    height: fit-content;
    width: 100%;
    padding: 2rem 1rem;
    gap: 2rem;
}

.grid_service>.item {
    transition: var(--transition);
    padding: 1rem;
    aspect-ratio: 16/9;
    height: 8rem;
    border-radius: var(--borderRadius);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    gap: 0.5rem;
}

.grid_service>.item:hover {
    background-color: var(--primary);
}

.grid_service>.item>span>h4 {
    transition:var(--transition);
    align-items: center;
}

.grid_service>.item>span>p {
    transition: var(--transition);
    font-size: 0.8rem;
    color: gray;
}

.grid_service>.item>.material-symbols-outlined {
    transition: var(--transition);
    font-size: 3rem;
    color: var(--primary);
}

.grid_service>.item:hover span{
    color: white
}

.grid_service>.item:hover span>p {
    color: white
}