.grid-card>.card {
    aspect-ratio: 16/9;
}
.grid-card>.card>span>h4 {
    transition: var(--transition);
    align-items: center;
}

.grid-card>.card>span>p {
    transition: var(--transition);
    font-size: 0.8rem;
    color: gray;
}


.grid-card>.card:hover span>p {
    color: white
}