<div id="services" class="d-flex flex-column">
    <h2 class="myfaveColor center-text"> Service </h2>

    <div class="grid-card d-flex flex-row flex-justify-content-center">
        <div *ngFor="let item of servicesItems" class="card d-flex flex-column">
            <section class="icon">
                <div>
                    <i [class]='item.icon'></i>
                </div>
            </section>
            <span class="d-flex flex-column">
                <p>{{ item.numberPrject }} Project</p>
                <h4>{{ item.title }}</h4>
            </span>
        </div>
    </div>
</div>