<div class="sessionTable">
    <table mat-table [dataSource]="sessionData" class="mat-elevation-z8">
    
        <!-- Name Column -->
        <ng-container matColumnDef="token">
            <th mat-header-cell *matHeaderCellDef> Token </th>
            <td mat-cell *matCellDef="let element"> {{element.token}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="nVisites">
            <th mat-header-cell *matHeaderCellDef> No.visites </th>
            <td mat-cell *matCellDef="let element"> {{element.nVisites}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="visitePage">
            <th mat-header-cell *matHeaderCellDef> page visiter </th>
            <td mat-cell *matCellDef="let element"> {{element.pVisites}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>