@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

:root {
    --transition: 0.8s;
    --borderRadius: 10px;
    --font-family: "Roboto", sans-serif;
    --primary: #3498db;
    --secondary: #778beb;
    --accent: #e5546d;
    --lightgray: #ddd;
    --text-regular: #444;
    --text-color: black;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
}

/* layout */

.center-text {
    text-align: center;
}

.container {
    max-width: 1200px;
    display: block;
    margin: auto;
    padding: 20px;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-justify-content-between {
    justify-content: space-between;
}

.flex-align-items-center {
    align-items: center;
}

.flex-align-items-between {
    align-items: space-between;
}

.flex-fill {
    flex: 1 1 auto;
}

.flex-50 {
    flex: 1 1 50%;
}

.grid-card {
    flex-wrap: wrap;
    margin-top: 3rem;
    height: fit-content;
    width: 100%;
    padding: 2rem 1rem;
    gap: 2rem;
}

.grid-card>.card {
    text-align: center;
    transition: var(--transition);
    padding: 1rem;
    min-height: 8rem;
    border-radius: var(--borderRadius);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    gap: 0.5rem;
}

.grid-card>.card:hover {
    color: white;
    background-color: var(--primary);
}

.grid-card>.card>.icon>div>i {
    transition: var(--transition);
    font-size: 3rem;
    color: var(--primary);
}

.grid-card>.card:hover div>i {
    color: white
}
/* utils */

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* theme */

.myfaveColor {
    color: var(--primary);
}

.btn {
    padding: 10px 15px;
    background-color: var(--primary);
    color: white;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
}

.badge {
    background-color: var(--secondary);
    border-radius: 3px;
    padding: 2px 5px;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.active {
    background-color: var(--secondary);
    color: white;
}

/* debug */

.d1 {
    border: 1px solid red;
}

.d2 {
    border: 1px solid green;
}